@import "compass";
@import "breakpoint";
* {
    margin: 0;
    padding: 0;
}
@import "compass/css3";

.chat_wrap .header {
    font-size: 18px;
    padding: 18px 0;
    background: #B8C9F0;
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    top:0;
}

/*.chat_wrap .chat {
    padding-bottom: 80px;
}*/

.chat_wrap .chat ul {
    width: 100%;
    list-style: none;
}

.chat_wrap .chat ul li {
    width: 100%;
}

.chat_wrap .chat ul li.left {
    text-align: left;
}

.chat_wrap .chat ul li.right {
    text-align: right;
}

.chat_wrap .chat ul li>div {
    font-size: 15px;
}

.chat_wrap .chat ul li>div.sender {
    margin: 10px 20px 0 20px;
    font-weight: bold;
}

.chat_wrap .chat ul li>div.message {
    /* display: inline-block;
    word-break: break-all;
    margin: 5px 20px;
    max-width: 75%;
    padding: 10px;
    border-radius: 5px;
    background-color: #FCFCFC;
    color: #555;
    text-align: left; */
    width: 300px;
    margin: 5px 20px;
    display: inline-block;
    word-break: break-all;
  border: 4px solid #c06154;
  background-color: #FCFCFC;
  padding: 20px;
  text-align: center;
  font-weight: 400;
  color: #c06154;
  font-family: arial;
  position: relative;
  animation: fadeIn 1s ease-in both;
}

.chat_wrap .input-div {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #FFF;
    text-align: center;
    border-top: 1px solid #F18C7E;
}

.chat_wrap .input-div>textarea {
    font-size: 18px;
    width: 100%;
    height: 60px;
    border: none;
    padding: 10px;
}
.format_right, .format_left {
    display: none;
}

.grid-container {
    display: flex;
    background-color: white;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 70px;
    margin: 30px;
    padding-top: 50px;
}
  
.grid-container > div {
    background-color: #F4CEC8;
    text-align: center;
    font-size: 30px;
    padding: 10px;
}

.chat{
    overflow:scroll;
    scroll-behavior: auto;
    height: 600px;
    width: 500px;
}

div>.popup{
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color:white;
    gap: 50px;
}

.button_adding {
    display: flex;
    margin: 0 .5em;
    border-radius: 2em;
    padding: 0.75em 1.5em;
    cursor: pointer;
    background: none;
    border: 1px solid;
    color: #5256D9;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  .button_adding:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .close_button, .box1 {
    line-height: 12px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 8pt;
    font-family: tahoma;
    margin-top: 1px;
    margin-right: 2px;
    /* right: 1130px; */
    cursor: pointer;
    position: relative;
        right: 200px;
    bottom: 5px;
  }
  .close_button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button_adding a#myPopup, .panel a#join_pop {
    border: 2px solid #aaa;
    color: #fff;
    display: block;
    float: right;
    margin-right: 10px;
    padding: 5px 10px;
    text-decoration: none;
    text-shadow: 1px 1px #000;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    /* visibility: hidden; */
    display:none;
    width: 260px;
    height: 260px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
  }

  #ai_type_select{
    width: 100px;
    height:40px;
    background-color: #F18C7E;
    color: white;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  @import "compass/css3";


  /* .slideOne */
  label > input[type="checkbox"] {
    display: none;
  }

  label > input[type="checkbox"] + *::before {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 50px;
    height: 50px;
    border-radius: 10%;
    border-style: solid;
    border-width: 0.1rem;
    border-color: gray;
    position: relative;
  }

.checkbox_format{
  visibility: hidden;
}

label > input[type="checkbox"]:checked + *::before {
  content: "✓";
  color: white;
  text-align: center;
  background: teal;
  border-color: teal;
  size: 10px;
}
label > input[type="checkbox"]:checked + * {
  color: teal;
}
input[type="checkbox"] {
  width: 20px;
    height: 20px;
    background: white;
    border-radius: 5px;
    border: 2px solid #555;
    position: relative;
    right: 200px;
}

.display-time{
  font-size: 10px;
  margin: 0px 0;
  display: block;
}

.button_aboutskye{
  background-color: white;
  right: 53px;
  height: 40px;
  width: 100px;
  color: black;
  font-size: 15px;
  display: inline;
  position: fixed;
  border-radius: 4px;
  top: 10px
}

.popupforskye{
  display:none;
  width: 260px;
  height: 260px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 2;
  top:10px;
  right: 30px;
  font-size:12px;
}

.sb11:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #c06154;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  left: -23px;
  bottom: 37%;
}

.sb11:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #fff;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  left: -17px;
  bottom: 37%;

}


/* speech bubble 12 */

.sb12:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #c06154;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  right: -23px;
  bottom: 37%;
}

.sb12:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #fff;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  right: -17px;
  bottom: 37%;
}
