@import "compass";
@import "breakpoint";
* {
    margin: 0;
    padding: 0;
}
@import "compass/css3";

.chat_wrap .header {
    font-size: 22px;
    padding: 18px 0;
    background: #424f4a;
    color: #ecd2c5;
    text-align: center;
    position: fixed;
    width: 100%;
    top:0;
    z-index: 5;
    font-weight:700;
}

body{
  background-color: #151c19;
  font-family: 'Figtree', system-ui, sans-serif;
}

.chat_wrap .chat ul {
    width: 100%;
    list-style: none;
}

.chat_wrap .chat ul li {
    width: 100%;
}

.chat_wrap .chat ul li.left {
    text-align: left;
}

.chat_wrap .chat ul li.right {
    text-align: right;
}

.chat_wrap .chat ul li>div {
    font-size: 15px;
}

.chat_wrap .chat ul li>div.sender {
    margin: 10px 20px 0 20px;
    font-weight: bold;
}

.chat_wrap .chat ul li>div.message {
  width: 300px;
  margin: 5px 20px;
  display: inline-block;
  word-break: break-all;
  border: 4px solid #ecd2c5;
  background-color: #ecd2c5;
  padding: 20px;
  text-align: center;
  font-weight: 600;
  color: #8a7966;
  /* font-family: arial; */
  position: relative;
  border-radius: 15%;
  animation: fadeIn 1s ease-in both;
}

.chat_wrap .input-div {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #FFF;
    text-align: center;
    border-top: 1px solid #151c19;
}

.chat_wrap .input-div>textarea {
    font-size: 18px;
    width: 100%;
    height: 60px;
    border: none;
    padding: 10px;
}
.format_right, .format_left {
    display: none;
}

.grid-container {
    display: flex;
    /*background-color: white;*/
    gap: 50px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 70px;
    margin: 30px 0px 30px 0px;
    padding-top: 80px;
}
  
.grid-container > div {
    background-color: #424f4a;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    color: #c0ab92;
    font-weight: bold;
    border-radius: 30px;
}

.chat{
    overflow:scroll;
    scroll-behavior: auto;
    height: 600px;
    width: 500px;
    
}


div>.popup{
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #151c19;
    gap: 50px;
}

.button_adding {
    display: flex;
    margin: 0 .5em;
    border-radius: 2em;
    padding: 0.75em 1.5em;
    cursor: pointer;
    background: none;
    border: 1px solid;
    color:  #ecd2c5;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-width: thick;
  }
  .button_adding:hover{
    transform: scale(1.2);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .close_button{
    background-color: #ecd2c5;
    border: none;
    color: #8a7966;
    padding: 12px 16px;
    font-size: 12px;
    cursor: pointer;
    position: relative;
    right: 32%;
    bottom: 5px;
    top: -7%;
  }
  .close_button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button_adding a#myPopup, .panel a#join_pop {
    border: 2px solid #aaa;
    color: #fff;
    display: block;
    float: right;
    margin-right: 10px;
    padding: 5px 10px;
    text-decoration: none;
    text-shadow: 1px 1px #000;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    /* visibility: hidden; */
    display:none;
    width: 449px;
    height: 580px;
    background-color: #dbd6d0;
    color: #91816e;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: -60px;
    font-weight: bold;
  }

  #ai_type_select{
    font-size: 20px;
    width: 114px;
    height: 48px;
    background-color: #C0AB92;
    color: white;
    font-weight: 700;
    border: #C0AB92;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  @import "compass/css3";


  /* .slideOne */
  /* label > input[type="checkbox"] {
    display: none;
  }

  label > input[type="checkbox"] + *::before {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 50px;
    height: 50px;
    border-radius: 10%;
    border-style: solid;
    border-width: 0.1rem;
    border-color: gray;
    position: relative;
  }

.checkbox_format{
  visibility: hidden;
}

input[type="checkbox"] {
  
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 5px;
  border: 2px solid #555;
  cursor: pointer;
  position: relative;
  right: 12%;
  bottom: -1px;

} */

.display-time{
  font-size: 10px;
  margin: 0px 0;
  display: block;
}

.button_aboutskye{
  background-color: #C0AB92;
  right: 53px;
  height: 40px;
  width: 108px;
  font-weight:700;
  color: white;
  font-size: 15px;
  display: inline;
  position: fixed;
  border-radius: 4px;
  top: 10px;
  border-color:#C0AB92;
}

.button_aboutskye:hover {
  transform: scale(1.2);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.popupforskye{
  display:none;
  width: 260px;
  height: 260px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 9;
  top:10px;
  right: 30px;
  font-size: 17px;
}

.sb11:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #ecd2c5;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  left: -23px;
  bottom: 37%;
  z-index: 2;
}

.sb11:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #ecd2c5;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  left: -17px;
  bottom: 37%;
  z-index: 2;
}


/* speech bubble 12 */

.sb12:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #ecd2c5;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  right: -23px;
  bottom: 37%;
  z-index: 2;
}

.sb12:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #ecd2c5;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  right: -17px;
  bottom: 37%;
  z-index: 2;
}

textarea {
  width: 80%;
  height: 300px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  position: relative;
  bottom: -3px;
}

#change_warmup{
  background-color: #3A4D7A;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
div> .prompt_change{
  visibility: none;
  display: flex;
  height: 500px;
  width: 500px;
  background-color: white;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color:white;
  gap: 50px;
}
.prompt_changer{
  cursor: pointer;
  display: none;
  width: 400px;
  height: 400px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  font-size: 20px;
}

#warmup_instruct{
  padding: 10px;
}
.save_button{
  background-color: #ecd2c5;
    border: none;
    color: #8a7966;
    padding: 12px 16px;
    font-size: 12px;
    position: relative;
    right: 33%;
    bottom: 5px;
    cursor: pointer;
    top: -7%;
}
.save_button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#functions_tab{
  width: 484px;
  /* height: 30px; */
  height: 49px;
  position: relative;
  display: none;
  /* margin: 20px 20px 20px 20px; */
  background-color: #C0AB92;
  border-radius: 20px;
}

.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
    top: -41%;
    left: 40%;
    width: 74px;
    height: 36px;
    margin: -20px auto 0 auto;
    overflow: hidden;
}

.button.r,
.button.r .layer {
  border-radius: 100px;
}

.checkboxname {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
  position: relative;
  right: 12%;
  bottom: -1px;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #ecd2c5;
  transition: 0.3s ease all;
  z-index: 1;
}

/* Button 1 */
#button-1 .knobs:before {
  content: "NO";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 20px;
  height: 10px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  background-color: #d45042;
  border-radius: 50%;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-1 .checkboxname:checked + .knobs:before {
  content: "YES";
  left: 42px;
  background-color: #1795cf
}

#button-1 .checkboxname:checked ~ .layer {
  background-color: #ecd2c5;
}

#button-1 .knobs,
#button-1 .knobs:before,
#button-1 .layer {
  transition: 0.3s ease all;
}


.model_button{
  background-color: #ecd2c5;
    border: none;
    color: #8a7966;
    padding: 12px 16px;
    font-size: 12px;
    position: relative;
    right: 3%;
    top: -134%;
    cursor: pointer;
}

.popupformodel{
  height: 49px;
  width: 100px;
  display: block;
  background-color: white;
  font-size: 15px;
  top: -162%;
  position: relative;
  left: 24%;
  border-radius: 10px;
  padding: 4px;
}

.model_button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.dialogue_button{
  background-color: #ecd2c5;
    border: none;
    color: #8a7966;
    padding: 12px 16px;
    font-size: 12px;
    position: relative;
    right: 4%;
    top: -134%;
    cursor: pointer;
}

.dialogue_button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.popupfordialogue{
  overflow: scroll;
    position: absolute;
    height: 98px;
    width: 143px;
    background-color: white;
    display: block;
    font-size: 4px;
    top: 61%;
    left: 51%;
    padding: 3px;
    border-radius: 8px;
}